<h1 style="text-align: center;"><strong>Proveedor:</strong></h1>
<ul>
    <li style="text-align: justify;"><strong>&iquest;Qu&eacute; obligaciones supone unirse a
        FAMAEX?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pr&aacute;cticamente
    ninguna. No tienes porqu&eacute; realizar un n&uacute;mero m&iacute;nimo de servicios.
    Lo &uacute;nico que pedimos es:</p>
<ul style="list-style-type: circle; text-align: justify;">
    <li style="text-align: justify;">Realizar un servicio profesional: puntualidad, buena imagen, m&aacute;xima
        calidad
    </li>
    <li style="text-align: justify;">Realizar fotos del antes y del despu&eacute;s del servicio en
        la app
    </li>
    <li style="text-align: justify;">Realizar los servicios que has indicado que har&iacute;as</li>
</ul>
<ul style="text-align: justify;">
    <li><strong>&iquest;C&oacute;mo son los clientes de FAMAEX?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nos
    enfocamos &uacute;nicamente en empresas, principalmente oficinas, tiendas y cadenas de
    restauraci&oacute;n</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;C&oacute;mo sabr&eacute; el n&uacute;mero de horas necesarias para un
        trabajo? &iquest;Y el n&uacute;mero de personas que deber&eacute; llevar al
        trabajo?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Confiamos en tu
    juicio al estimar que el n&uacute;mero de horas no sobrepasar&aacute; el l&iacute;mite a no
    exceder (fijado en el contrato). Cobrar&aacute;s por hora trabajada por cada trabajador, as&iacute;
    que si surge un imprevisto no hay problema</p>
<ul style="text-align: justify;">
    <li>&iquest;<strong>Cobrar&eacute; directamente del cliente?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nosotros
    gestionaremos el cobro y el pago, facilitando las tareas administrativas</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;Qui&eacute;n fija las tarifas?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nosotros. Hemos
    estudiado el mercado en profundidad, comparando las tarifas de t&eacute;cnicos cualificados. Los
    trabajos realizados con FAMAEX tienen una tarifa por hora real de trabajo invertida mayor,
    debido a que no requieren visitas ni presupuestos</p>
<ul style="text-align: justify;">
    <li>&iquest;<strong>Qu&eacute; pasa si acabo el servicio en 10 minutos?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fijamos una
    tarifa m&iacute;nima que representa 1,5 veces la tarifa por hora m&aacute;s el
    desplazamiento</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;Cu&aacute;ndo cobrar&eacute;? &iquest;C&oacute;mo cobrar&eacute;?</strong>
    </li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tanto a el d&iacute;a
    15 como el 30 de cada mes, recibir&aacute;s una factura realizada por nosotros por la totalidad
    de los servicios realizados en las dos semanas previas. Desde este momento, cobrar&aacute;s a 30
    d&iacute;as, por medio de transferencia bancaria</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;C&oacute;mo s&eacute; qu&eacute; materiales y herramientas llevar?</strong>
    </li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nuestro
    especialista interno nos ayudar&aacute; a entender la necesidad de cada servicio solicitado, y
    nos esforzaremos para que la informaci&oacute;n disponible antes de ir a un servicio te permita
    ir lo mejor preparado posible</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;Qu&eacute; ocurre si me cancelan un servicio?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Si te cancelan un
    servicio a poco tiempo de la realizaci&oacute;n del mismo, cobrar&aacute;s un servicio m&iacute;nimo
    que rondar&aacute; los 40&euro;</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;Cu&aacute;ndo sabr&eacute; si el servicio se ha de realizar o no?</strong>
    </li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Los servicios
    asignados son garantizados. Cuando ganes un servicio, te aseguramos que lo realizar&aacute;s</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;Qu&eacute; pasa si descubro que hay que hacer m&aacute;s trabajo que el
        inicialmente estimado?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Siempre que
    estimes que no superar&aacute; la cantidad m&aacute;xima, que podr&aacute;s ver en la aplicaci&oacute;n,
    podr&aacute;s continuar con el servicio sin realizar un presupuesto. De esta manera agilizamos
    el proceso tanto para el cliente como para el proveedor</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;C&oacute;mo puedo hacer un servicio sin haber hecho un presupuesto?</strong>
    </li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Famaex establecer&aacute;
    un l&iacute;mite de precio para cada servicio, que estar&aacute; por encima del coste medio. El
    cliente est&aacute; de acuerdo con que el servicio se empiece a realizar mientras no se supere
    ese l&iacute;mite</p>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nuestro equipo
    interno auditar&aacute; los servicios para garantizar que se han realizado los servicios
    exclusivamente necesarios y se han empleado un n&uacute;mero de horas adecuado</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;Qu&eacute; pasa si en mi empresa somos muchos trabajadores?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cada trabajador
    podr&aacute; tener una cuenta. De hecho, si trabajan individualmente, deber&aacute;n registrarse
    en la plataforma para poder usar la app y tomar las fotos</p>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Se podr&aacute;
    fijar un administrador por empresa, que gestionar&aacute; el trabajo de sus empleados y podr&aacute;
    ver su evoluci&oacute;n</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;Qu&eacute; ocurre si el trabajo requiere a un especialista de otro gremio
        adicional?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; En este caso,
    deber&aacute;s informar a Famaex, que se encargar&aacute; de conseguir un especialista
    adicional</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;Qu&eacute; ocurre si el trabajo lo tiene que hacer otro
        especialista?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deber&aacute;s
    comunicarlo a Famaex y cobrar&aacute;s la tarifa m&iacute;nima tras recibir confirmaci&oacute;n
    de Famaex</p>
<ul style="text-align: justify;">
    <li><strong>Si dejamos de trabajar con FAMAEX, &iquest;Podemos seguir operando con los clientes
        de Famaex?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Invertimos mucho
    tiempo y recursos en realizar una acci&oacute;n comercial que beneficie a proveedores y
    clientes. Es por esto que exigimos a nuestros clientes exclusividad con Famaex, y operar con
    ellos fuera de la plataforma estar&aacute; penalizado</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;Qu&eacute; ocurre si la plataforma deja de funcionar?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Puedes llamarnos
    a nuestro tel&eacute;fono de contacto y te ayudaremos hasta que se hayan solucionado los
    problemas</p>
<ul style="text-align: justify;">
    <li><strong>&iquest;C&oacute;mo procedo si me falta material o herramientas para realizar un
        servicio y ya estoy en las instalaciones del cliente?</strong></li>
</ul>
<p style="padding-left: 30px; text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; En ese caso deber&aacute;s
    ir a comprar o recoger el material en la tienda/almac&eacute;n m&aacute;s cercano. El tiempo
    empleado no se imputar&aacute; a las horas de mano de obra</p>